// Landhorn Brand Colors
$primary:       #0C343C;  // Brand Teal
$secondary:     #6c757d;
$success:       #198754;
$info:          #0dcaf0;
$warning:       #E19D2F;  // Brand Gold
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #212529;

// Body
$body-bg: #fff;
$body-color: #212529;
